* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
}

.box {
    position: relative;
    background-color: #33ff57;
    width: 150px;
    height: 150px;
    top: 240px;
    left: 635px;
    box-shadow: 250px -200px #ff5733, 500px 200px #5733ff;
}

.box::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #33ffd6;
    border-radius: 50%;
    left: 250px;
    top: 200px;
    box-shadow: -250px -400px #ffd633, 250px -200px #ff33d6;
}

.box::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #aaff33;
    border-radius: 30%;
    left: 250px;
    box-shadow: -250px 200px #d633ff, 250px -200px #33aaff;
}